
footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 99%;
    height: 2.5rem;

}

#marca {
    margin-left: 7%;
    font-family: 'Abril Fatface', serif;
    font-size: 1.4rem;
    color: #45474B;
}

#navbarScroll {
    position: absolute;
    right: 7%;
}

.contador {
    text-align: center;
    margin: 10% auto;
}

#cambiarContador {
    margin: 1%;
}
